@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  background: linear-gradient(to bottom right , #29A8EF , #D22798);
  background-attachment: fixed;
  margin: 0;
  height: 100vh;
  position: relative;
  
}

/* Header */

.navbar{
  margin-top: 20px;
  margin-left: 27px;
  margin-right: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.moofli{
  color: white;
  margin-right: 52px;
  display: inline-block;
  line-height: 48.76px;
  width: 131px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  
}

.about_us,
.contact_us{
  color: white;
  margin-right: 52px;
  display: inline-block;
  vertical-align: top;
  margin-top: 12px;
  font-size: 21px;
  font-weight: 600;
  line-height: 25.6px;
  font-family: 'Montserrat', sans-serif;
}
.get-started{
  color: black;
  background-color: yellow;
  border: 2px black solid;
  border-radius: 30px;
  display: inline-block;
  vertical-align: top;
  font-size: 21px;
  font-weight: 600;
  line-height: 25.6px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

/* .why-moofli-container */
.why-moofli-container{
  position: absolute;
  top: 17.5%;
  left: 3%;
}
.why-moofli{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 26.82px;
}
.index{
  font-size: 48px;
  font-weight: bold;
  color: white;
  font-family: 'Lato', sans-serif;  display: inline-block;
  margin-bottom: 40px;
  margin-right: 20px;
  vertical-align: top;
}
.text{
  color: white;
  font-family: 'Lato', sans-serif;  display: inline-block;
  width: 200px;
  font-size: 18px;
  padding: 5px;
}

/* reviews container */
.moofli-about{
  position: absolute;
  top: 4%;
  left: 57%;
}
.moofli-desc{
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 58.51px;
  width: 100%;
  max-width: 550px;
  color: white;
  margin-top: 70px;
  margin-bottom: 90px;
  padding-left: 30px;
}
.join-moofli-statement{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: white;
  font-weight: 600;
  width: 100%;
  max-width: 540px;
  margin-top: 80px;
  padding-left: 30px;
}

/* bookpen element */

.rectangle-images{
  position: absolute;
  top: -5%;
  left: 33%
}
.bookpen-images{
  position: absolute;
  padding: 0px;
  top: 43.6%;
  left: 26%;
}
.bookpen-text{
  position: absolute;
  padding-top: 18px;
  padding-left: 60px;
  z-index: 2;
  top: 43.6%;
  left: 26%;
}
.book-pen-whyMoofli{
  font-family: 'Pacifico', cursive;
  font-weight: 700;
  font-size: 24px;
  line-height: 38.76px;
}
.point-1 , .point-2 , .point-3{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 13.7px;
  line-height: 24.13px;
  width: 200px;
  margin-top: 15px;
}

/* stars */
.star-1{
  position: absolute;
  z-index: 1;
  left: 26%;
  top: 25%;
}
.star-2{
  position: absolute;
  z-index: 1;
  left: 49%;
  top: 68%;
}
.star-3{
  position: absolute;
  left: 47%;
  top: 15%;
  z-index: 1;
}

/* joinus */

.join-us-container{
  width: 80%;
  max-width: 500px;
  position: absolute;
  border-radius: 30px;
  border: 4px solid black;
  background-color: #F8D046;
  top: 70%;
  left: 5%;
  z-index: -1;
  font-size: 48px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  padding-left: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* responsive style */

@media (max-width: 1440px) {

  .moofli-desc{
    font-size: 43px;
  }
  .why-moofli-container{
    position: absolute;
    top: 160%;
    left: 58%;
    margin-bottom: 20px;
    width: 400px;
  }
  .why-moofli{
    font-size: 28px;
  }
  .index{
    font-size: 55px;
    margin-bottom: 60px;
    margin-right: 25px;
    padding-top: 20px;
  }
  .text{
    font-size: 25px;
    width: 300px;
  }

  .rectangle-images{
    left: 20%;
    transform: scale(1.5);
  }
  .bookpen-images{
    top: 73%;
    left: 13%;
    transform: scale(1.5);
  }
  .bookpen-text{
    top: 72%;
    left: 10%;
    transform: scale(1.5);
  }
  .star-1{
    left: 5%;
    top: 40.4%;
    transform: scale(1.2);;
  }
  .star-2{
    left: 52%;
    top: 114.6%;
    transform: scale(1);
  }
  .star-3{
    left: 44%;
    top: 15.4%;
    transform: scale(1.2);
  }
  .join-us-container{
    top: 140%;
  }
}

@media (max-width: 960px) {

  .moofli-about{
    left: 12%;
  }
  .moofli-desc{
    font-size: 48px;
  }
  .why-moofli-container{
    position: absolute;
    top: 167%;
    left: 20%;
    margin-bottom: 20px;
    width: 400px;
  }
  .why-moofli{
    font-size: 28px;
  }
  .index{
    font-size: 55px;
    margin-bottom: 60px;
    margin-right: 25px;
    padding-top: 20px;
  }
  .text{
    font-size: 25px;
    width: 300px;
  }

  .rectangle-images{
    display: none;
  }
  .bookpen-images{
    top: 80%;
    left: 30%;
    transform: scale(1.5);
  }
  .bookpen-text{
    top: 79%;
    left: 25.4%;
    transform: scale(1.5);
  }
  .star-1{
    left: 15%;
    top: 50.4%;
    transform: scale(1.2);;
  }
  .star-2{
    left: 72%;
    top: 136.6%;
    transform: scale(1);
  }
  .star-3{
    left: 66%;
    top: 23.4%;
    transform: scale(1.2);
  }
  .join-us-container{
    top: 148%;
    left: 17%;
  } 
}

@media (max-width: 772px) {

  .moofli{
    margin-right: 0px;
  }
  .about_us,.contact_us,.get-started{
    font-size: 18px;
  }
  .left-section{
    display: none;
  }
  .moofli-about{
    left: 5%;
  }
  .moofli-desc{
    font-size: 38px;
    width: 500px;
  }
  .why-moofli-container{
    position: absolute;
    top: 153%;
    left: 20%;
    margin-bottom: 20px;
    width: 400px;
  }
  .why-moofli{
    font-size: 28px;
  }
  .index{
    font-size: 55px;
    margin-bottom: 60px;
    margin-right: 25px;
    padding-top: 20px;
  }
  .text{
    font-size: 25px;
    width: 300px;
  }

  .bookpen-images{
    top: 70%;
    left: 20%;
    transform: scale(1.2);
  }
  .bookpen-text{
    top: 69.5%;
    left: 17%;
    transform: scale(1.2);
  }
  .star-1{
    left: 15%;
    top: 50.4%;
    transform: scale(1);
    z-index: -1;
  }
  .star-2{
    left: 72%;
    top: 120.6%;
    transform: scale(1);
    z-index: -1;
  }
  .star-3{
    left: 80%;
    top: 23.4%;
    transform: scale(0.5);
    z-index: -1;
  }
  .join-us-container{
    top: 135%;
    width: 60%;
    left: 17%;
  } 
}